.track__player {
  text-align: center;
  width: 100%;
}
.track__image {
    text-align: center;
    padding: 10px;
}
.track__info {
  text-align: center;
  flex: 1
}
.track-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
}
.track__player audio {
  width: 100%;
}
@media (min-width: 640px) {
  .track-container {
    flex-direction: row;
  }
  .track__info {
    text-align: left;
  }
  .track__image {
    text-align: left;
  }
}
